# 6.1.b Merge year, region, GDP, internet use data
## 1. Load, explore, clean region data
## 2. Load, explore, clean GDP data
## 3. Load, explore, clean Internet us data
## 4. Load, explore, clean female internet use data
## 5. Load, explore, clean male internet use data
## 6. Merge data with year data frame

In [2]:
#import libraries
import pandas as pd
import numpy as np
import os

In [3]:
#define path for ease of data access
path = r'C:\Users\User\250104_Global Internet Access Analysis'

## 1. Load, explore, clean region data

In [5]:
# Load the Excel file
df_region = pd.read_excel(os.path.join(path, '02 Data', '250104_Country Region EconStatus.xlsx'),
    engine='openpyxl'  # Ensures compatibility with .xlsx files
)

In [6]:
df_region.head(30)

,Country Code,Region,IncomeGroup,Country Name
0,ABW,Latin America & Caribbean,High income,Aruba
1,AFE,NaN,NaN,Africa Eastern and Southern
2,AFG,South Asia,Low income,Afghanistan
3,AFW,NaN,NaN,Africa Western and Central
4,AGO,Sub-Saharan Africa,Lower middle income,Angola
5,ALB,Europe & Central Asia,Upper middle income,Albania
6,AND,Europe & Central Asia,High income,Andorra
7,ARB,NaN,NaN,Arab World
8,ARE,Middle East & North Africa,High income,United Arab Emirates
9,ARG,Latin America & Caribbean,Upper middle income,Argentina
10,ARM,Europe & Central Asia,Upper middle income,Armenia
11,ASM,East Asia & Pacific,High income,American Samoa
12,ATG,Latin America & Caribbean,High income,Antigua and Barbuda
13,AUS,East Asia & Pacific,High income,Australia
14,AUT,Europe & Central Asia,High income,Austria
15,AZE,Europe & Central Asia,Upper middle income,Azerbaijan
16,BDI,Sub-Saharan Africa,Low income,Burundi
17,BEL,Europe & Central Asia,High income,Belgium
18,BEN,Sub-Saharan Africa,Lower middle income,Benin
19,BFA,Sub-Saharan Africa,Low income,Burkina Faso
20,BGD,South Asia,Lower middle income,Bangladesh
21,BGR,Europe & Central Asia,High income,Bulgaria
22,BHR,Middle East & North Africa,High income,Bahrain
23,BHS,Latin America & Caribbean,High income,"Bahamas, The"
24,BIH,Europe & Central Asia,Upper middle income,Bosnia and Herzegovina
25,BLR,Europe & Central Asia,Upper middle income,Belarus
26,BLZ,Latin America & Caribbean,Upper middle income,Belize
27,BMU,North America,High income,Bermuda
28,BOL,Latin America & Caribbean,Lower middle income,Bolivia
29,BRA,Latin America & Caribbean,Upper middle income,Brazil

In [7]:
df_region.shape

(265, 4)

In [8]:
df_region.columns

Index(['Country Code', 'Region', 'IncomeGroup', 'Country Name'], dtype='object')

In [9]:
df_region.shape

(265, 4)

In [10]:
df_region.dtypes

Country Code    object
Region          object
IncomeGroup     object
Country Name    object
dtype: object

In [11]:
# clean data
# check for mixed data types
for col in df_region.columns.tolist():
  weird = (df_region[[col]].map(type) != df_region[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_region[weird]) > 0:
    print (col)

Region
IncomeGroup

In [12]:
print(df_region['Region'].unique())
print(df_region['IncomeGroup'].unique())

['Latin America & Caribbean' nan 'South Asia' 'Sub-Saharan Africa'
 'Europe & Central Asia' 'Middle East & North Africa'
 'East Asia & Pacific' 'North America']
['High income' nan 'Low income' 'Lower middle income'
 'Upper middle income']

In [13]:
# check for missing values
df_region.isnull().sum()

Country Code     0
Region          48
IncomeGroup     49
Country Name     0
dtype: int64

In [14]:
df_dup = df_region[df_region.duplicated()]

In [15]:
df_dup

Empty DataFrame
Columns: [Country Code, Region, IncomeGroup, Country Name]
Index: []

## 2. Load, explore, clean GDP data

In [17]:
# Load the Excel file
df_GDP = pd.read_excel(os.path.join(path, '02 Data', 'Original Data', '250104_GDP.xlsx'),
    engine='openpyxl'  # Ensures compatibility with .xlsx files
)

In [18]:
df_GDP.head(20)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,ABW,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,35657.287197,35972.866445,36117.508211,37524.928478,39287.019517,39110.276190,28976.463550,35696.309372,41649.450792,44967.344513
1,Africa Eastern and Southern,AFE,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3426.575818,3456.365448,3551.069323,3703.886605,3648.310911,3742.848955,3629.508004,3907.951637,4229.682100,4374.229532
2,Afghanistan,AFG,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2224.490748,2284.075848,2213.181441,2335.795862,2432.276701,2583.485332,2561.981761,2144.166570,2122.995815,2211.280635
3,Africa Western and Central,AFW,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4103.765604,4052.733797,3996.864267,4063.185050,4198.081042,4454.156038,4441.937338,4698.926894,5107.272939,5343.468529
4,Angola,AGO,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,7990.274457,7119.726443,6843.735897,6992.728834,7347.799936,7528.382418,6450.749946,7408.126591,7924.888806,8040.702450
5,Albania,ALB,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,11258.457280,11658.045749,12078.348824,12769.762585,13695.913974,14791.733962,14511.438916,16353.808682,19596.720260,21925.608377
6,Andorra,AND,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,48505.601735,50733.239001,53110.142627,53084.863964,55244.655409,57475.069284,52095.841400,59332.202910,68470.075948,71730.668682
7,Arab World,ARB,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,15654.450606,14148.136687,13685.340101,14286.478293,15319.019700,15452.541755,14132.444334,15534.523797,17198.655842,17634.815608
8,United Arab Emirates,ARE,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,85248.154735,71720.308449,67702.147393,68043.231213,75071.180050,76884.946897,65352.834419,67401.121295,73777.744395,76110.384846
9,Argentina,ARG,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,19487.418175,19899.149928,20105.761360,23385.074090,24410.391906,23516.826198,22393.347958,26300.274261,29597.693843,30082.304525
10,Armenia,ARM,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,9736.234975,9756.840848,10570.272041,12066.004309,12877.493754,14975.753954,14706.317304,15921.705282,19161.370051,21342.514533
11,American Samoa,ASM,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Antigua and Barbuda,ATG,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,21673.394959,20989.385890,21321.709758,21370.309509,24524.213795,26533.730194,22356.768722,25733.294827,30031.747470,32149.140365
13,Australia,AUS,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,46903.770304,46275.911912,47260.152993,48371.140996,50183.689813,52673.063818,53984.124698,57321.563154,65284.928186,69231.310360
14,Austria,AUT,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,48355.497762,49549.316231,52397.863518,53869.832118,56636.495303,60354.927942,58523.033782,63576.241625,71101.066717,73134.785403
15,Azerbaijan,AZE,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,17563.612245,15075.272635,14535.802021,14315.929643,15282.999523,16675.317936,15163.570333,20111.375695,22552.114938,23597.837862
16,Burundi,BDI,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,724.360357,797.426234,771.987434,761.269257,753.455516,779.197991,786.515831,836.665571,888.518158,919.906646
17,Belgium,BEL,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,45147.642953,46071.914889,48414.551807,50256.063177,52466.733078,56712.469572,56120.095842,61873.964955,69456.869820,72070.759060
18,Benin,BEN,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2670.415614,2725.337248,2842.024626,2885.893840,2965.306281,3148.979696,3244.587728,3464.288629,3844.164934,4129.979415
19,Burkina Faso,BFA,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1661.317738,1691.579354,1881.758931,2042.402953,2073.323538,2232.162820,2380.722828,2486.430931,2641.870113,2754.713465

In [19]:
df_GDP.tail(20)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
246,Tanzania,TZA,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2221.179688,2317.279785,2434.699951,2472.493164,2727.880127,2981.874512,3290.609863,3493.083008,3799.862305,4018.516602
247,Uganda,UGA,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2134.009163,2189.964859,2165.297594,2157.957475,2312.057528,2441.374452,2532.219501,2684.920359,2919.177754,3097.637024
248,Ukraine,UKR,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,10493.745117,9921.833984,10864.657227,11536.081055,12554.848633,14217.486328,15541.027344,17846.408203,14770.071289,17630.125000
249,Upper middle income,UMC,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,13771.948541,13896.757925,14415.577514,15173.970640,16141.590683,17000.612200,17103.244175,19260.368806,21355.614682,23126.433228
250,Uruguay,URY,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,21867.811228,22168.611419,22840.551075,23606.643064,24386.494449,25782.694070,25777.745531,29441.477487,33081.507431,34426.602473
251,United States,USA,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,55304.315532,57040.208214,58206.614193,60322.261424,63201.045848,65604.681520,64411.373178,71318.307359,78035.175360,82769.412211
252,Uzbekistan,UZB,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,6609.767173,6799.573328,6919.294756,7818.011130,8128.755203,8544.080267,8451.725051,9247.643827,10292.530943,11106.971593
253,St. Vincent and the Grenadines,VCT,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,12135.583051,12378.842727,13493.477312,13575.431977,14689.850071,15344.360754,15417.212944,15900.976581,18396.496871,20349.228570
254,"Venezuela, RB",VEN,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
255,British Virgin Islands,VGB,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
256,Virgin Islands (U.S.),VIR,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,32360.900383,32573.716681,33470.590477,33893.550182,36746.486890,40021.777580,41749.080036,46893.549699,49793.032440,NaN
257,Viet Nam,VNM,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,7296.879481,7671.581978,8374.506845,9169.731921,10009.971476,11029.273208,11609.317728,12048.901994,13852.116360,14973.883961
258,Vanuatu,VUT,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2905.960947,2878.843417,2975.531208,3145.927350,3232.948258,3314.667213,3117.644253,3135.836649,3345.268102,3460.933714
259,World,WLD,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,14979.423265,15140.607158,15592.546908,16281.317492,17141.136122,17962.536510,17725.782891,19693.214750,21654.514504,23033.867346
260,Samoa,WSM,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,5468.100585,5681.778128,6141.450890,6280.215005,6318.269773,6638.184547,6450.765384,6214.016928,6260.402383,6996.841921
261,Kosovo,XKX,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,8200.474205,8714.919664,9157.046307,9380.940073,10018.738708,10861.053175,10532.499586,12362.414097,13950.896732,15141.245733
262,"Yemen, Rep.",YEM,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,13358.941719,13397.523481,13519.323510,13738.438585,13347.363483,13361.485129,12671.086244,13711.293573,14759.435072,15194.199176
264,Zambia,ZMB,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3441.314976,3337.473069,3313.351216,3391.627685,3442.273072,3361.397503,3157.300093,3503.034914,3840.724505,4076.995087
265,Zimbabwe,ZWE,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2553.444214,2646.653993,2796.796475,7045.357426,2614.406271,3211.471913,3510.594036,3184.785451,3560.043273,3820.362629

In [20]:
# droping columns that are not necessary

# Create a list of columns to drop
years_to_drop = [str(year) for year in range(1960, 2012)]

# Drop the columns from the DataFrame
df_GDP = df_GDP.drop(columns=years_to_drop)

In [21]:
# check result
df_GDP.head()

,Country Name,Country Code,Indicator Name,Indicator Code,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,ABW,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,34095.647171,35901.653313,35657.287197,35972.866445,36117.508211,37524.928478,39287.019517,39110.276190,28976.463550,35696.309372,41649.450792,44967.344513
1,Africa Eastern and Southern,AFE,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,3171.570276,3290.844300,3426.575818,3456.365448,3551.069323,3703.886605,3648.310911,3742.848955,3629.508004,3907.951637,4229.682100,4374.229532
2,Afghanistan,AFG,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,1988.429304,2133.241271,2224.490748,2284.075848,2213.181441,2335.795862,2432.276701,2583.485332,2561.981761,2144.166570,2122.995815,2211.280635
3,Africa Western and Central,AFW,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,3735.925373,3899.645897,4103.765604,4052.733797,3996.864267,4063.185050,4198.081042,4454.156038,4441.937338,4698.926894,5107.272939,5343.468529
4,Angola,AGO,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,7354.942966,7561.039205,7990.274457,7119.726443,6843.735897,6992.728834,7347.799936,7528.382418,6450.749946,7408.126591,7924.888806,8040.702450

In [22]:
# drop indicator code column
df_GDP.drop(columns = ['Indicator Code', '2023'], inplace = True)

In [23]:
df_GDP.head()

,Country Name,Country Code,Indicator Name,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,"GDP per capita, PPP (current international $)",34095.647171,35901.653313,35657.287197,35972.866445,36117.508211,37524.928478,39287.019517,39110.276190,28976.463550,35696.309372,41649.450792
1,Africa Eastern and Southern,AFE,"GDP per capita, PPP (current international $)",3171.570276,3290.844300,3426.575818,3456.365448,3551.069323,3703.886605,3648.310911,3742.848955,3629.508004,3907.951637,4229.682100
2,Afghanistan,AFG,"GDP per capita, PPP (current international $)",1988.429304,2133.241271,2224.490748,2284.075848,2213.181441,2335.795862,2432.276701,2583.485332,2561.981761,2144.166570,2122.995815
3,Africa Western and Central,AFW,"GDP per capita, PPP (current international $)",3735.925373,3899.645897,4103.765604,4052.733797,3996.864267,4063.185050,4198.081042,4454.156038,4441.937338,4698.926894,5107.272939
4,Angola,AGO,"GDP per capita, PPP (current international $)",7354.942966,7561.039205,7990.274457,7119.726443,6843.735897,6992.728834,7347.799936,7528.382418,6450.749946,7408.126591,7924.888806

In [24]:
df_GDP.columns

Index(['Country Name', 'Country Code', 'Indicator Name', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022'],
      dtype='object')

In [25]:
df_GDP.dtypes

Country Name       object
Country Code       object
Indicator Name     object
2012              float64
2013              float64
2014              float64
2015              float64
2016              float64
2017              float64
2018              float64
2019              float64
2020              float64
2021              float64
2022              float64
dtype: object

In [26]:
# Reshape the dataset from wide to long format
df_GDP_long = pd.melt(
    df_GDP,
    id_vars=['Country Name', 'Country Code', 'Indicator Name'],  # Columns to keep
    value_vars=['2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022'],  # Columns to transpose
    var_name='Year',  # Name for the new "Year" column
    value_name='Value'  # Name for the new "Value" column
)

In [27]:
df_GDP_long.head(30)

,Country Name,Country Code,Indicator Name,Year,Value
0,Aruba,ABW,"GDP per capita, PPP (current international $)",2012,34095.647171
1,Africa Eastern and Southern,AFE,"GDP per capita, PPP (current international $)",2012,3171.570276
2,Afghanistan,AFG,"GDP per capita, PPP (current international $)",2012,1988.429304
3,Africa Western and Central,AFW,"GDP per capita, PPP (current international $)",2012,3735.925373
4,Angola,AGO,"GDP per capita, PPP (current international $)",2012,7354.942966
5,Albania,ALB,"GDP per capita, PPP (current international $)",2012,10525.722535
6,Andorra,AND,"GDP per capita, PPP (current international $)",2012,45503.044484
7,Arab World,ARB,"GDP per capita, PPP (current international $)",2012,16008.845698
8,United Arab Emirates,ARE,"GDP per capita, PPP (current international $)",2012,87339.687656
9,Argentina,ARG,"GDP per capita, PPP (current international $)",2012,19430.417807
10,Armenia,ARM,"GDP per capita, PPP (current international $)",2012,8942.635379
11,American Samoa,ASM,"GDP per capita, PPP (current international $)",2012,NaN
12,Antigua and Barbuda,ATG,"GDP per capita, PPP (current international $)",2012,22377.361912
13,Australia,AUS,"GDP per capita, PPP (current international $)",2012,42863.348317
14,Austria,AUT,"GDP per capita, PPP (current international $)",2012,46156.483207
15,Azerbaijan,AZE,"GDP per capita, PPP (current international $)",2012,15994.146650
16,Burundi,BDI,"GDP per capita, PPP (current international $)",2012,638.873182
17,Belgium,BEL,"GDP per capita, PPP (current international $)",2012,42483.525067
18,Benin,BEN,"GDP per capita, PPP (current international $)",2012,2346.084162
19,Burkina Faso,BFA,"GDP per capita, PPP (current international $)",2012,1571.838845
20,Bangladesh,BGD,"GDP per capita, PPP (current international $)",2012,3434.278151
21,Bulgaria,BGR,"GDP per capita, PPP (current international $)",2012,16326.431532
22,Bahrain,BHR,"GDP per capita, PPP (current international $)",2012,56712.569266
23,"Bahamas, The",BHS,"GDP per capita, PPP (current international $)",2012,31100.566077
24,Bosnia and Herzegovina,BIH,"GDP per capita, PPP (current international $)",2012,10120.619643
25,Belarus,BLR,"GDP per capita, PPP (current international $)",2012,18114.750861
26,Belize,BLZ,"GDP per capita, PPP (current international $)",2012,9266.091461
27,Bermuda,BMU,"GDP per capita, PPP (current international $)",2012,69149.050034
28,Bolivia,BOL,"GDP per capita, PPP (current international $)",2012,5866.984142
29,Brazil,BRA,"GDP per capita, PPP (current international $)",2012,15198.086332

In [28]:
df_GDP_long.shape

(2926, 5)

In [29]:
# clean data
# check for mixed data types
for col in df_GDP_long.columns.tolist():
  weird = (df_GDP_long[[col]].map(type) != df_GDP_long[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_GDP_long[weird]) > 0:
    print (col)

In [30]:
# check for missing values
df_GDP_long.isnull().sum()

Country Name        0
Country Code        0
Indicator Name      0
Year                0
Value             210
dtype: int64

In [31]:
df_dup = df_GDP_long[df_GDP_long.duplicated()]

In [32]:
df_dup

Empty DataFrame
Columns: [Country Name, Country Code, Indicator Name, Year, Value]
Index: []

In [33]:
# pivot data frame

df_GDP_long = df_GDP_long.pivot(
    index=['Country Name', 'Country Code', 'Year'], 
    columns='Indicator Name', 
    values='Value'
)

df_GDP_long.columns = [str(col) for col in df_GDP_long.columns]
df_GDP_long = df_GDP_long.reset_index()

In [34]:
df_GDP_long.head()

,Country Name,Country Code,Year,"GDP per capita, PPP (current international $)"
0,Afghanistan,AFG,2012,1988.429304
1,Afghanistan,AFG,2013,2133.241271
2,Afghanistan,AFG,2014,2224.490748
3,Afghanistan,AFG,2015,2284.075848
4,Afghanistan,AFG,2016,2213.181441

In [35]:
df_GDP_long.dtypes

Country Name                                      object
Country Code                                      object
Year                                              object
GDP per capita, PPP (current international $)    float64
dtype: object

In [36]:
 # Convert object to int64 to match year dataset
df_GDP_long['Year'] = df_GDP_long['Year'].astype('int64')

In [37]:
df_GDP_long.dtypes

Country Name                                      object
Country Code                                      object
Year                                               int64
GDP per capita, PPP (current international $)    float64
dtype: object

## 3. Load, explore, clean internet use data

In [39]:
# Load the Excel file
df_internet = pd.read_excel(os.path.join(path, '02 Data', 'Original Data', '250104_Indiv Use Internet.xlsx'),
    engine='openpyxl'  # Ensures compatibility with .xlsx files
)

In [40]:
df_internet.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,ABW,Individuals using the Internet (% of population),IT.NET.USER.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,83.7800,88.6612,93.5425,97.17,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Individuals using the Internet (% of population),IT.NET.USER.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,12.1000,14.3000,15.7000,17.40,19.8,22.8000,26.0000,29.5000,31.4000,34.9
2,Afghanistan,AFG,Individuals using the Internet (% of population),IT.NET.USER.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,7.0000,8.2600,11.0000,13.50,16.8,17.6000,18.4000,NaN,NaN,NaN
3,Africa Western and Central,AFW,Individuals using the Internet (% of population),IT.NET.USER.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,14.9000,17.2000,19.9000,23.20,25.7,28.9000,32.4000,34.3000,36.9000,39.4
4,Angola,AGO,Individuals using the Internet (% of population),IT.NET.USER.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,21.3623,22.0000,23.2000,26.00,29.0,32.1294,36.6347,37.8067,39.2935,NaN

In [41]:
df_internet.shape

(266, 68)

In [42]:
# droping columns that are not necessary

# Create a list of columns to drop
years_to_drop = [str(year) for year in range(1960, 2012)]

# Drop the columns from the DataFrame
df_internet = df_internet.drop(columns=years_to_drop)

In [43]:
df_internet.head()

,Country Name,Country Code,Indicator Name,Indicator Code,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,ABW,Individuals using the Internet (% of population),IT.NET.USER.ZS,74.00000,78.9,83.7800,88.6612,93.5425,97.17,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Individuals using the Internet (% of population),IT.NET.USER.ZS,8.40000,10.0,12.1000,14.3000,15.7000,17.40,19.8,22.8000,26.0000,29.5000,31.4000,34.9
2,Afghanistan,AFG,Individuals using the Internet (% of population),IT.NET.USER.ZS,5.45455,5.9,7.0000,8.2600,11.0000,13.50,16.8,17.6000,18.4000,NaN,NaN,NaN
3,Africa Western and Central,AFW,Individuals using the Internet (% of population),IT.NET.USER.ZS,10.30000,12.6,14.9000,17.2000,19.9000,23.20,25.7,28.9000,32.4000,34.3000,36.9000,39.4
4,Angola,AGO,Individuals using the Internet (% of population),IT.NET.USER.ZS,7.70000,13.0,21.3623,22.0000,23.2000,26.00,29.0,32.1294,36.6347,37.8067,39.2935,NaN

In [44]:
# Droping Indicator code and 2023 columns
df_internet.drop(columns=['Indicator Code', '2023'], inplace = True)

In [45]:
df_internet.head()

,Country Name,Country Code,Indicator Name,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,Individuals using the Internet (% of population),74.00000,78.9,83.7800,88.6612,93.5425,97.17,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Individuals using the Internet (% of population),8.40000,10.0,12.1000,14.3000,15.7000,17.40,19.8,22.8000,26.0000,29.5000,31.4000
2,Afghanistan,AFG,Individuals using the Internet (% of population),5.45455,5.9,7.0000,8.2600,11.0000,13.50,16.8,17.6000,18.4000,NaN,NaN
3,Africa Western and Central,AFW,Individuals using the Internet (% of population),10.30000,12.6,14.9000,17.2000,19.9000,23.20,25.7,28.9000,32.4000,34.3000,36.9000
4,Angola,AGO,Individuals using the Internet (% of population),7.70000,13.0,21.3623,22.0000,23.2000,26.00,29.0,32.1294,36.6347,37.8067,39.2935

In [46]:
# Reshape the dataset from wide to long format
df_internet_long = pd.melt(
    df_internet,
    id_vars=['Country Name', 'Country Code', 'Indicator Name'],  # Columns to keep
    value_vars=['2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022'],  # Columns to transpose
    var_name='Year',  # Name for the new "Year" column
    value_name='Value'  # Name for the new "Value" column
)

In [47]:
df_internet_long.head(30)

,Country Name,Country Code,Indicator Name,Year,Value
0,Aruba,ABW,Individuals using the Internet (% of population),2012,74.00000
1,Africa Eastern and Southern,AFE,Individuals using the Internet (% of population),2012,8.40000
2,Afghanistan,AFG,Individuals using the Internet (% of population),2012,5.45455
3,Africa Western and Central,AFW,Individuals using the Internet (% of population),2012,10.30000
4,Angola,AGO,Individuals using the Internet (% of population),2012,7.70000
5,Albania,ALB,Individuals using the Internet (% of population),2012,49.40000
6,Andorra,AND,Individuals using the Internet (% of population),2012,82.70000
7,Arab World,ARB,Individuals using the Internet (% of population),2012,30.24172
8,United Arab Emirates,ARE,Individuals using the Internet (% of population),2012,85.00000
9,Argentina,ARG,Individuals using the Internet (% of population),2012,55.80000
10,Armenia,ARM,Individuals using the Internet (% of population),2012,37.50000
11,American Samoa,ASM,Individuals using the Internet (% of population),2012,NaN
12,Antigua and Barbuda,ATG,Individuals using the Internet (% of population),2012,58.00000
13,Australia,AUS,Individuals using the Internet (% of population),2012,79.00000
14,Austria,AUT,Individuals using the Internet (% of population),2012,80.03000
15,Azerbaijan,AZE,Individuals using the Internet (% of population),2012,54.20000
16,Burundi,BDI,Individuals using the Internet (% of population),2012,1.22000
17,Belgium,BEL,Individuals using the Internet (% of population),2012,80.72000
18,Benin,BEN,Individuals using the Internet (% of population),2012,4.50000
19,Burkina Faso,BFA,Individuals using the Internet (% of population),2012,3.72503
20,Bangladesh,BGD,Individuals using the Internet (% of population),2012,5.00000
21,Bulgaria,BGR,Individuals using the Internet (% of population),2012,51.90000
22,Bahrain,BHR,Individuals using the Internet (% of population),2012,88.00000
23,"Bahamas, The",BHS,Individuals using the Internet (% of population),2012,71.74820
24,Bosnia and Herzegovina,BIH,Individuals using the Internet (% of population),2012,45.06450
25,Belarus,BLR,Individuals using the Internet (% of population),2012,46.91000
26,Belize,BLZ,Individuals using the Internet (% of population),2012,31.00000
27,Bermuda,BMU,Individuals using the Internet (% of population),2012,91.29930
28,Bolivia,BOL,Individuals using the Internet (% of population),2012,35.34000
29,Brazil,BRA,Individuals using the Internet (% of population),2012,48.56000

In [64]:
# clean data
# check for mixed data types
for col in df_internet_long.columns.tolist():
  weird = (df_internet_long[[col]].map(type) != df_internet_long[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_internet_long[weird]) > 0:
    print (col)

In [66]:
# check for missing values
df_internet_long.isnull().sum()

Country Name        0
Country Code        0
Indicator Name      0
Year                0
Value             261
dtype: int64

In [67]:
# check which cuountries the missing values belong to, if one country has no values at all it can be excluded
missing_values = df_internet_long[df_internet_long['Value'].isnull()]

In [68]:
print(missing_values)

                Country Name Country Code  \
11            American Samoa          ASM
38           Channel Islands          CHI
51                   Curacao          CUW
108              Isle of Man          IMN
110           Not classified          INX
...                      ...          ...
2908                 Ukraine          UKR
2914           Venezuela, RB          VEN
2915  British Virgin Islands          VGB
2916   Virgin Islands (U.S.)          VIR
2921                  Kosovo          XKX

                                        Indicator Name  Year  Value
11    Individuals using the Internet (% of population)  2012    NaN
38    Individuals using the Internet (% of population)  2012    NaN
51    Individuals using the Internet (% of population)  2012    NaN
108   Individuals using the Internet (% of population)  2012    NaN
110   Individuals using the Internet (% of population)  2012    NaN
...                                                ...   ...    ...
2908  Individuals using the Internet (% of population)  2022    NaN
2914  Individuals using the Internet (% of population)  2022    NaN
2915  Individuals using the Internet (% of population)  2022    NaN
2916  Individuals using the Internet (% of population)  2022    NaN
2921  Individuals using the Internet (% of population)  2022    NaN

[261 rows x 5 columns]

In [69]:
print(missing_values['Country Name'].value_counts())

Country Name
American Samoa                11
Sint Maarten (Dutch part)     11
Isle of Man                   11
Not classified                11
Channel Islands               11
St. Martin (French part)      11
Northern Mariana Islands      11
Palau                         11
Turks and Caicos Islands      11
Curacao                        9
Korea, Dem. People's Rep.      9
Gibraltar                      9
Kosovo                         9
British Virgin Islands         8
San Marino                     6
Nauru                          6
New Caledonia                  6
Venezuela, RB                  5
Guam                           5
Greenland                      5
Faroe Islands                  5
Turkmenistan                   5
Cayman Islands                 5
French Polynesia               5
Bermuda                        5
Virgin Islands (U.S.)          5
Aruba                          5
Libya                          5
Sudan                          4
Tuvalu                         2
Syrian Arab Republic           2
Marshall Islands               2
Tajikistan                     2
Somalia                        2
Yemen, Rep.                    2
Congo, Rep.                    2
Comoros                        2
India                          2
Sri Lanka                      2
Afghanistan                    2
Early-demographic dividend     1
Central African Republic       1
Haiti                          1
Myanmar                        1
South Asia                     1
Tonga                          1
South Asia (IDA & IBRD)        1
Uganda                         1
Equatorial Guinea              1
Puerto Rico                    1
Papua New Guinea               1
Niger                          1
Monaco                         1
Liechtenstein                  1
Cambodia                       1
Dominica                       1
Andorra                        1
South Sudan                    1
Ukraine                        1
Name: count, dtype: int64

In [70]:
# Calculate the proportion of non-missing values for each country
country_value_counts = df_internet_long.groupby('Country Name')['Value'].apply(lambda x: x.notnull().mean())

In [71]:
print(country_value_counts)

Country Name
Afghanistan                    0.818182
Africa Eastern and Southern    1.000000
Africa Western and Central     1.000000
Albania                        1.000000
Algeria                        1.000000
                                 ...
West Bank and Gaza             1.000000
World                          1.000000
Yemen, Rep.                    0.818182
Zambia                         1.000000
Zimbabwe                       1.000000
Name: Value, Length: 266, dtype: float64

In [72]:
# Filter out countries where the proportion of non-missing values is less than 50%
countries_to_keep = country_value_counts[country_value_counts >= 0.5].index

In [73]:
# Keeping rows only for the countries identified in Step 2
df_filtered = df_internet_long[df_internet_long['Country Name'].isin(countries_to_keep)]

In [74]:
print(df_filtered)

                     Country Name Country Code  \
0                           Aruba          ABW
1     Africa Eastern and Southern          AFE
2                     Afghanistan          AFG
3      Africa Western and Central          AFW
4                          Angola          AGO
...                           ...          ...
2920                        Samoa          WSM
2922                  Yemen, Rep.          YEM
2923                 South Africa          ZAF
2924                       Zambia          ZMB
2925                     Zimbabwe          ZWE

                                        Indicator Name  Year     Value
0     Individuals using the Internet (% of population)  2012  74.00000
1     Individuals using the Internet (% of population)  2012   8.40000
2     Individuals using the Internet (% of population)  2012   5.45455
3     Individuals using the Internet (% of population)  2012  10.30000
4     Individuals using the Internet (% of population)  2012   7.70000
...                                                ...   ...       ...
2920  Individuals using the Internet (% of population)  2022  75.28690
2922  Individuals using the Internet (% of population)  2022  17.69480
2923  Individuals using the Internet (% of population)  2022  74.70300
2924  Individuals using the Internet (% of population)  2022  31.23420
2925  Individuals using the Internet (% of population)  2022  32.56150

[2739 rows x 5 columns]

In [75]:
# Save back to original df
df_internet_long = df_filtered

In [76]:
# pivot dataframe
df_internet_fin = df_internet_long.pivot(
    index=['Country Name', 'Country Code', 'Year'], 
    columns='Indicator Name', 
    values='Value'
)

df_internet_fin.columns = [str(col) for col in df_internet_fin.columns]
df_internet_fin = df_internet_fin.reset_index()

In [77]:
df_internet_fin.head()

,Country Name,Country Code,Year,Individuals using the Internet (% of population)
0,Afghanistan,AFG,2012,5.45455
1,Afghanistan,AFG,2013,5.90000
2,Afghanistan,AFG,2014,7.00000
3,Afghanistan,AFG,2015,8.26000
4,Afghanistan,AFG,2016,11.00000

In [78]:
df_internet_fin.dtypes

Country Name                                         object
Country Code                                         object
Year                                                 object
Individuals using the Internet (% of population)    float64
dtype: object

In [79]:
 # Convert object to int64 to match year dataset
df_internet_fin['Year'] = df_internet_fin['Year'].astype('int64')

In [80]:
df_internet_fin.dtypes

Country Name                                         object
Country Code                                         object
Year                                                  int64
Individuals using the Internet (% of population)    float64
dtype: object

## 4. Load, explore, clean female internet use data

In [82]:
# Load the Excel file
df_internetfem = pd.read_excel(os.path.join(path, '02 Data', 'Original Data', '250104_Indiv Use Internet fem.xlsx'),
    engine='openpyxl'  # Ensures compatibility with .xlsx files
)

In [83]:
#Check
df_internetfem.head(20)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,ABW,"Individuals using the Internet, female (% of f...",IT.NET.USER.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,"Individuals using the Internet, female (% of f...",IT.NET.USER.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,19.40000,21.7000,24.9000,26.5000,NaN
2,Afghanistan,AFG,"Individuals using the Internet, female (% of f...",IT.NET.USER.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,"Individuals using the Internet, female (% of f...",IT.NET.USER.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,23.50000,26.4000,28.2000,31.2000,NaN
4,Angola,AGO,"Individuals using the Internet, female (% of f...",IT.NET.USER.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,20.19730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Albania,ALB,"Individuals using the Internet, female (% of f...",IT.NET.USER.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,65.96160,71.2457,78.3496,81.5432,81.7239
6,Andorra,AND,"Individuals using the Internet, female (% of f...",IT.NET.USER.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,90.27080,NaN,NaN,NaN,NaN,NaN,NaN
7,Arab World,ARB,"Individuals using the Internet, female (% of f...",IT.NET.USER.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,United Arab Emirates,ARE,"Individuals using the Internet, female (% of f...",IT.NET.USER.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,88.8530,92.52920,98.8000,99.50150,100.0000,100.0000,100.0000,100.0000
9,Argentina,ARG,"Individuals using the Internet, female (% of f...",IT.NET.USER.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,70.1150,73.49200,NaN,NaN,NaN,86.5182,88.0800,89.0300
10,Armenia,ARM,"Individuals using the Internet, female (% of f...",IT.NET.USER.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,52.98170,57.7535,63.3685,63.43660,66.9034,67.22690,78.0911,81.4003,79.3062,NaN
11,American Samoa,ASM,"Individuals using the Internet, female (% of f...",IT.NET.USER.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Antigua and Barbuda,ATG,"Individuals using the Internet, female (% of f...",IT.NET.USER.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Australia,AUS,"Individuals using the Internet, female (% of f...",IT.NET.USER.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,84.8809,NaN,86.12140,NaN,NaN,NaN,NaN,NaN,NaN
14,Austria,AUT,"Individuals using the Internet, female (% of f...",IT.NET.USER.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,77.18920,79.6880,80.7314,85.16440,85.4365,85.26650,85.8744,90.8633,92.8620,94.1659
15,Azerbaijan,AZE,"Individuals using the Internet, female (% of f...",IT.NET.USER.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,71.69090,73.1986,74.7054,74.97510,75.8247,78.03010,82.1961,83.6360,84.4045,NaN
16,Burundi,BDI,"Individuals using the Internet, female (% of f...",IT.NET.USER.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.73574,NaN,NaN,1.49482,NaN,NaN,NaN,NaN,NaN,NaN
17,Belgium,BEL,"Individuals using the Internet, female (% of f...",IT.NET.USER.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,84.12590,84.2776,85.4392,86.84210,87.2592,89.21030,91.1117,92.6559,93.4306,94.6981
18,Benin,BEN,"Individuals using the Internet, female (% of f...",IT.NET.USER.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Burkina Faso,BFA,"Individuals using the Internet, female (% of f...",IT.NET.USER.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,6.61695,NaN,NaN,NaN,NaN

In [84]:
# droping columns that are not necessary
 
# Create a list of columns to drop
years_to_drop = [str(year) for year in range(1960, 2012)]
 
# Drop the columns from the DataFrame
df_internetfem = df_internetfem.drop(columns=years_to_drop)

In [85]:
# check result
df_internetfem.head()

,Country Name,Country Code,Indicator Name,Indicator Code,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,ABW,"Individuals using the Internet, female (% of f...",IT.NET.USER.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,"Individuals using the Internet, female (% of f...",IT.NET.USER.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.4,21.7,24.9,26.5,NaN
2,Afghanistan,AFG,"Individuals using the Internet, female (% of f...",IT.NET.USER.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,"Individuals using the Internet, female (% of f...",IT.NET.USER.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.5,26.4,28.2,31.2,NaN
4,Angola,AGO,"Individuals using the Internet, female (% of f...",IT.NET.USER.FE.ZS,NaN,NaN,20.1973,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
# drop indicator code column
df_internetfem.drop(columns = ['Indicator Code', '2023'], inplace = True)

In [87]:
#Check
df_internetfem.head()

,Country Name,Country Code,Indicator Name,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,"Individuals using the Internet, female (% of f...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,"Individuals using the Internet, female (% of f...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.4,21.7,24.9,26.5
2,Afghanistan,AFG,"Individuals using the Internet, female (% of f...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,"Individuals using the Internet, female (% of f...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.5,26.4,28.2,31.2
4,Angola,AGO,"Individuals using the Internet, female (% of f...",NaN,NaN,20.1973,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
# Reshape the dataset from wide to long format
df_internetfem_long = pd.melt(
    df_internetfem,
    id_vars=['Country Name', 'Country Code', 'Indicator Name'],  # Columns to keep
    value_vars=['2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022'],  # Columns to transpose
    var_name='Year',  # Name for the new "Year" column
    value_name='Value'  # Name for the new "Value" column
)

In [89]:
#Check
df_internetfem_long.head(30)

,Country Name,Country Code,Indicator Name,Year,Value
0,Aruba,ABW,"Individuals using the Internet, female (% of f...",2012,NaN
1,Africa Eastern and Southern,AFE,"Individuals using the Internet, female (% of f...",2012,NaN
2,Afghanistan,AFG,"Individuals using the Internet, female (% of f...",2012,NaN
3,Africa Western and Central,AFW,"Individuals using the Internet, female (% of f...",2012,NaN
4,Angola,AGO,"Individuals using the Internet, female (% of f...",2012,NaN
5,Albania,ALB,"Individuals using the Internet, female (% of f...",2012,NaN
6,Andorra,AND,"Individuals using the Internet, female (% of f...",2012,NaN
7,Arab World,ARB,"Individuals using the Internet, female (% of f...",2012,NaN
8,United Arab Emirates,ARE,"Individuals using the Internet, female (% of f...",2012,83.2000
9,Argentina,ARG,"Individuals using the Internet, female (% of f...",2012,NaN
10,Armenia,ARM,"Individuals using the Internet, female (% of f...",2012,NaN
11,American Samoa,ASM,"Individuals using the Internet, female (% of f...",2012,NaN
12,Antigua and Barbuda,ATG,"Individuals using the Internet, female (% of f...",2012,NaN
13,Australia,AUS,"Individuals using the Internet, female (% of f...",2012,NaN
14,Austria,AUT,"Individuals using the Internet, female (% of f...",2012,76.0357
15,Azerbaijan,AZE,"Individuals using the Internet, female (% of f...",2012,NaN
16,Burundi,BDI,"Individuals using the Internet, female (% of f...",2012,NaN
17,Belgium,BEL,"Individuals using the Internet, female (% of f...",2012,78.6605
18,Benin,BEN,"Individuals using the Internet, female (% of f...",2012,NaN
19,Burkina Faso,BFA,"Individuals using the Internet, female (% of f...",2012,NaN
20,Bangladesh,BGD,"Individuals using the Internet, female (% of f...",2012,NaN
21,Bulgaria,BGR,"Individuals using the Internet, female (% of f...",2012,50.8148
22,Bahrain,BHR,"Individuals using the Internet, female (% of f...",2012,89.9999
23,"Bahamas, The",BHS,"Individuals using the Internet, female (% of f...",2012,NaN
24,Bosnia and Herzegovina,BIH,"Individuals using the Internet, female (% of f...",2012,NaN
25,Belarus,BLR,"Individuals using the Internet, female (% of f...",2012,44.8653
26,Belize,BLZ,"Individuals using the Internet, female (% of f...",2012,NaN
27,Bermuda,BMU,"Individuals using the Internet, female (% of f...",2012,NaN
28,Bolivia,BOL,"Individuals using the Internet, female (% of f...",2012,NaN
29,Brazil,BRA,"Individuals using the Internet, female (% of f...",2012,NaN

In [90]:
df_internetfem_long.shape

(2926, 5)

In [91]:
print(df_internetfem_long.columns)

Index(['Country Name', 'Country Code', 'Indicator Name', 'Year', 'Value'], dtype='object')

In [92]:
# clean data
# check for mixed data types
for col in df_internetfem_long.columns.tolist():
  weird = (df_internetfem_long[[col]].map(type) != df_internetfem_long[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_internetfem_long[weird]) > 0:
    print (col)

In [93]:
# check for missing values
df_internetfem_long.isnull().sum()

Country Name         0
Country Code         0
Indicator Name       0
Year                 0
Value             1986
dtype: int64

In [94]:
#check for duplicates
df_dup2 = df_internetfem[df_internetfem.duplicated()]
 
#check
df_dup2

Empty DataFrame
Columns: [Country Name, Country Code, Indicator Name, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022]
Index: []

## 5. Load, explore, clean male internet use data

In [96]:
# Load the Excel file
df_internetma = pd.read_excel(os.path.join(path, '02 Data', 'Original Data', '250104_Indiv Use Internet male.xlsx'),
    engine='openpyxl'  # Ensures compatibility with .xlsx files
)

In [97]:
#Check
df_internetma.head(20)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,ABW,"Individuals using the Internet, male (% of mal...",IT.NET.USER.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,"Individuals using the Internet, male (% of mal...",IT.NET.USER.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,26.2000,30.4000,34.1000,36.4000,NaN
2,Afghanistan,AFG,"Individuals using the Internet, male (% of mal...",IT.NET.USER.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,"Individuals using the Internet, male (% of mal...",IT.NET.USER.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,34.3000,38.4000,40.2000,42.5000,NaN
4,Angola,AGO,"Individuals using the Internet, male (% of mal...",IT.NET.USER.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,22.38860,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Albania,ALB,"Individuals using the Internet, male (% of mal...",IT.NET.USER.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,71.1594,73.2383,80.3109,83.7135,84.5900
6,Andorra,AND,"Individuals using the Internet, male (% of mal...",IT.NET.USER.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,92.85210,NaN,NaN,NaN,NaN,NaN,NaN
7,Arab World,ARB,"Individuals using the Internet, male (% of mal...",IT.NET.USER.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,United Arab Emirates,ARE,"Individuals using the Internet, male (% of mal...",IT.NET.USER.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,91.5000,96.00000,98.3353,99.0300,100.0000,100.0000,100.0000,100.0000
9,Argentina,ARG,"Individuals using the Internet, male (% of mal...",IT.NET.USER.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,71.9057,75.17060,NaN,NaN,NaN,87.8221,88.6900,89.4400
10,Armenia,ARM,"Individuals using the Internet, male (% of mal...",IT.NET.USER.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,56.60330,60.7493,65.5478,66.31280,69.8878,65.7869,74.7778,75.4686,74.4122,NaN
11,American Samoa,ASM,"Individuals using the Internet, male (% of mal...",IT.NET.USER.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Antigua and Barbuda,ATG,"Individuals using the Internet, male (% of mal...",IT.NET.USER.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Australia,AUS,"Individuals using the Internet, male (% of mal...",IT.NET.USER.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,84.1635,NaN,87.01860,NaN,NaN,NaN,NaN,NaN,NaN
14,Austria,AUT,"Individuals using the Internet, male (% of mal...",IT.NET.USER.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,84.87970,88.2664,87.9621,90.73460,89.5495,90.2768,89.2079,94.2078,94.3753,96.5136
15,Azerbaijan,AZE,"Individuals using the Internet, male (% of mal...",IT.NET.USER.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,78.33840,80.8285,81.7143,83.11880,83.8583,84.2268,87.0459,88.4006,91.6778,NaN
16,Burundi,BDI,"Individuals using the Internet, male (% of mal...",IT.NET.USER.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.38048,NaN,NaN,3.90705,NaN,NaN,NaN,NaN,NaN,NaN
17,Belgium,BEL,"Individuals using the Internet, male (% of mal...",IT.NET.USER.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,85.88260,85.8337,87.6014,88.52340,90.0436,91.3465,91.9434,92.9221,94.5897,94.5540
18,Benin,BEN,"Individuals using the Internet, male (% of mal...",IT.NET.USER.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Burkina Faso,BFA,"Individuals using the Internet, male (% of mal...",IT.NET.USER.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,12.2789,NaN,NaN,NaN,NaN

In [98]:
# droping columns that are not necessary
 
# Create a list of columns to drop
years_to_drop = [str(year) for year in range(1960, 2012)]
 
# Drop the columns from the DataFrame
df_internetma = df_internetma.drop(columns=years_to_drop)

In [99]:
# check result
df_internetma.head()

,Country Name,Country Code,Indicator Name,Indicator Code,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,ABW,"Individuals using the Internet, male (% of mal...",IT.NET.USER.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,"Individuals using the Internet, male (% of mal...",IT.NET.USER.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.2,30.4,34.1,36.4,NaN
2,Afghanistan,AFG,"Individuals using the Internet, male (% of mal...",IT.NET.USER.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,"Individuals using the Internet, male (% of mal...",IT.NET.USER.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.3,38.4,40.2,42.5,NaN
4,Angola,AGO,"Individuals using the Internet, male (% of mal...",IT.NET.USER.MA.ZS,NaN,NaN,22.3886,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [100]:
# drop indicator code column
df_internetma.drop(columns = ['Indicator Code', '2023'], inplace = True)

In [101]:
# Check
df_internetma.head()

,Country Name,Country Code,Indicator Name,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,"Individuals using the Internet, male (% of mal...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,"Individuals using the Internet, male (% of mal...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.2,30.4,34.1,36.4
2,Afghanistan,AFG,"Individuals using the Internet, male (% of mal...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,"Individuals using the Internet, male (% of mal...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.3,38.4,40.2,42.5
4,Angola,AGO,"Individuals using the Internet, male (% of mal...",NaN,NaN,22.3886,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [102]:
# Reshape the dataset from wide to long format
df_internetma_long = pd.melt(
    df_internetma,
    id_vars=['Country Name', 'Country Code', 'Indicator Name'],  # Columns to keep
    value_vars=['2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022'],  # Columns to transpose
    var_name='Year',  # Name for the new "Year" column
    value_name='Value'  # Name for the new "Value" column
)

In [103]:
#Check
df_internetma_long.head(30)

,Country Name,Country Code,Indicator Name,Year,Value
0,Aruba,ABW,"Individuals using the Internet, male (% of mal...",2012,NaN
1,Africa Eastern and Southern,AFE,"Individuals using the Internet, male (% of mal...",2012,NaN
2,Afghanistan,AFG,"Individuals using the Internet, male (% of mal...",2012,NaN
3,Africa Western and Central,AFW,"Individuals using the Internet, male (% of mal...",2012,NaN
4,Angola,AGO,"Individuals using the Internet, male (% of mal...",2012,NaN
5,Albania,ALB,"Individuals using the Internet, male (% of mal...",2012,NaN
6,Andorra,AND,"Individuals using the Internet, male (% of mal...",2012,NaN
7,Arab World,ARB,"Individuals using the Internet, male (% of mal...",2012,NaN
8,United Arab Emirates,ARE,"Individuals using the Internet, male (% of mal...",2012,85.6311
9,Argentina,ARG,"Individuals using the Internet, male (% of mal...",2012,NaN
10,Armenia,ARM,"Individuals using the Internet, male (% of mal...",2012,NaN
11,American Samoa,ASM,"Individuals using the Internet, male (% of mal...",2012,NaN
12,Antigua and Barbuda,ATG,"Individuals using the Internet, male (% of mal...",2012,NaN
13,Australia,AUS,"Individuals using the Internet, male (% of mal...",2012,NaN
14,Austria,AUT,"Individuals using the Internet, male (% of mal...",2012,84.1106
15,Azerbaijan,AZE,"Individuals using the Internet, male (% of mal...",2012,NaN
16,Burundi,BDI,"Individuals using the Internet, male (% of mal...",2012,NaN
17,Belgium,BEL,"Individuals using the Internet, male (% of mal...",2012,82.7917
18,Benin,BEN,"Individuals using the Internet, male (% of mal...",2012,NaN
19,Burkina Faso,BFA,"Individuals using the Internet, male (% of mal...",2012,NaN
20,Bangladesh,BGD,"Individuals using the Internet, male (% of mal...",2012,NaN
21,Bulgaria,BGR,"Individuals using the Internet, male (% of mal...",2012,53.0169
22,Bahrain,BHR,"Individuals using the Internet, male (% of mal...",2012,86.9230
23,"Bahamas, The",BHS,"Individuals using the Internet, male (% of mal...",2012,NaN
24,Bosnia and Herzegovina,BIH,"Individuals using the Internet, male (% of mal...",2012,NaN
25,Belarus,BLR,"Individuals using the Internet, male (% of mal...",2012,49.7633
26,Belize,BLZ,"Individuals using the Internet, male (% of mal...",2012,NaN
27,Bermuda,BMU,"Individuals using the Internet, male (% of mal...",2012,NaN
28,Bolivia,BOL,"Individuals using the Internet, male (% of mal...",2012,NaN
29,Brazil,BRA,"Individuals using the Internet, male (% of mal...",2012,NaN

In [104]:
df_internetma_long.shape

(2926, 5)

In [105]:
# clean data
# check for mixed data types
for col in df_internetma_long.columns.tolist():
  weird = (df_internetma_long[[col]].map(type) != df_internetma_long[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_internetma_long[weird]) > 0:
    print (col)

In [106]:
# check for missing values
df_internetma_long.isnull().sum()

Country Name         0
Country Code         0
Indicator Name       0
Year                 0
Value             1985
dtype: int64

In [107]:
#check for duplicates
df_dup3 = df_internetma_long[df_internetma_long.duplicated()]

In [108]:
df_dup3

Empty DataFrame
Columns: [Country Name, Country Code, Indicator Name, Year, Value]
Index: []

## 6. Merge data with year data frame

In [110]:
#internet use female and male will not be used as to many data arr missing

In [111]:
# Load year dataframe
df_year = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'final_dataset_year.csv'),  index_col=0)

In [112]:
df_year.head()

,Country Name,Country Code,Year,Access to electricity (% of population),Access to electricity rural (% of rural population),Access to electricity urban (% of urban population),Fixed broadband subscriptions (per 100 people),Life expectancy at birth total (years),Literacy rate adult female (% of females ages 15 and above),Literacy rate adult male (% of males ages 15 and above),Literacy rate adult total (% of people ages 15 and above),Population ages 0-14 (% of total population),Population ages 15-64 (% of total population),Population ages 65 and above (% of total population),Population female (% of total population),Population male (% of total population),Population total,Rural population (% of total population),Secondary education duration (years),Urban population (% of total population)
0,Afghanistan,AFG,2012,69.1,60.8,95.0,0.004908,61.923,NaN,NaN,NaN,47.605305,50.056783,2.337911,49.499771,50.500229,30560034.0,75.840,6.0,24.160
1,Afghanistan,AFG,2013,68.0,60.2,92.2,0.004743,62.417,NaN,NaN,NaN,47.161386,50.488845,2.349769,49.482650,50.517350,31622704.0,75.627,6.0,24.373
2,Afghanistan,AFG,2014,89.5,86.5,98.7,0.004574,62.545,NaN,NaN,NaN,46.713066,50.930398,2.356536,49.468115,50.531885,32792523.0,75.413,6.0,24.587
3,Afghanistan,AFG,2015,71.5,64.6,92.5,0.020889,62.659,17.086241,50.212101,33.753841,46.259337,51.383968,2.356695,49.457202,50.542798,33831764.0,75.197,6.0,24.803
4,Afghanistan,AFG,2016,97.7,97.1,99.5,0.025363,63.136,NaN,NaN,NaN,45.801449,51.843054,2.355497,49.449550,50.550450,34700612.0,74.980,6.0,25.020

In [113]:
df_year.dtypes

Country Name                                                    object
Country Code                                                    object
Year                                                             int64
Access to electricity (% of population)                        float64
Access to electricity rural (% of rural population)            float64
Access to electricity urban (% of urban population)            float64
Fixed broadband subscriptions (per 100 people)                 float64
Life expectancy at birth total (years)                         float64
Literacy rate adult female (% of females ages 15 and above)    float64
Literacy rate adult male (% of males ages 15 and above)        float64
Literacy rate adult total (% of people ages 15 and above)      float64
Population ages 0-14 (% of total population)                   float64
Population ages 15-64 (% of total population)                  float64
Population ages 65 and above (% of total population)           float64
Population female (% of total population)                      float64
Population male (% of total population)                        float64
Population total                                               float64
Rural population (% of total population)                       float64
Secondary education duration (years)                           float64
Urban population (% of total population)                       float64
dtype: object

In [114]:
# merge year dataframe and GDP dataframe
merged_df = pd.merge(
    df_year,
   df_GDP_long,
    on=['Country Name', 'Country Code', 'Year'],
    how='inner'
)

In [115]:
merged_df.head()

,Country Name,Country Code,Year,Access to electricity (% of population),Access to electricity rural (% of rural population),Access to electricity urban (% of urban population),Fixed broadband subscriptions (per 100 people),Life expectancy at birth total (years),Literacy rate adult female (% of females ages 15 and above),Literacy rate adult male (% of males ages 15 and above),...,Population ages 0-14 (% of total population),Population ages 15-64 (% of total population),Population ages 65 and above (% of total population),Population female (% of total population),Population male (% of total population),Population total,Rural population (% of total population),Secondary education duration (years),Urban population (% of total population),"GDP per capita, PPP (current international $)"
0,Afghanistan,AFG,2012,69.1,60.8,95.0,0.004908,61.923,NaN,NaN,...,47.605305,50.056783,2.337911,49.499771,50.500229,30560034.0,75.840,6.0,24.160,1988.429304
1,Afghanistan,AFG,2013,68.0,60.2,92.2,0.004743,62.417,NaN,NaN,...,47.161386,50.488845,2.349769,49.482650,50.517350,31622704.0,75.627,6.0,24.373,2133.241271
2,Afghanistan,AFG,2014,89.5,86.5,98.7,0.004574,62.545,NaN,NaN,...,46.713066,50.930398,2.356536,49.468115,50.531885,32792523.0,75.413,6.0,24.587,2224.490748
3,Afghanistan,AFG,2015,71.5,64.6,92.5,0.020889,62.659,17.086241,50.212101,...,46.259337,51.383968,2.356695,49.457202,50.542798,33831764.0,75.197,6.0,24.803,2284.075848
4,Afghanistan,AFG,2016,97.7,97.1,99.5,0.025363,63.136,NaN,NaN,...,45.801449,51.843054,2.355497,49.449550,50.550450,34700612.0,74.980,6.0,25.020,2213.181441

In [116]:
# Merge year/GDP dataframe and internet use dataframe
sec_merged_df = pd.merge(
    merged_df,
    df_internet_fin,
    on=['Country Name', 'Country Code', 'Year'],
    how='inner'
)

In [117]:
sec_merged_df.head()

,Country Name,Country Code,Year,Access to electricity (% of population),Access to electricity rural (% of rural population),Access to electricity urban (% of urban population),Fixed broadband subscriptions (per 100 people),Life expectancy at birth total (years),Literacy rate adult female (% of females ages 15 and above),Literacy rate adult male (% of males ages 15 and above),...,Population ages 15-64 (% of total population),Population ages 65 and above (% of total population),Population female (% of total population),Population male (% of total population),Population total,Rural population (% of total population),Secondary education duration (years),Urban population (% of total population),"GDP per capita, PPP (current international $)",Individuals using the Internet (% of population)
0,Afghanistan,AFG,2012,69.1,60.8,95.0,0.004908,61.923,NaN,NaN,...,50.056783,2.337911,49.499771,50.500229,30560034.0,75.840,6.0,24.160,1988.429304,5.45455
1,Afghanistan,AFG,2013,68.0,60.2,92.2,0.004743,62.417,NaN,NaN,...,50.488845,2.349769,49.482650,50.517350,31622704.0,75.627,6.0,24.373,2133.241271,5.90000
2,Afghanistan,AFG,2014,89.5,86.5,98.7,0.004574,62.545,NaN,NaN,...,50.930398,2.356536,49.468115,50.531885,32792523.0,75.413,6.0,24.587,2224.490748,7.00000
3,Afghanistan,AFG,2015,71.5,64.6,92.5,0.020889,62.659,17.086241,50.212101,...,51.383968,2.356695,49.457202,50.542798,33831764.0,75.197,6.0,24.803,2284.075848,8.26000
4,Afghanistan,AFG,2016,97.7,97.1,99.5,0.025363,63.136,NaN,NaN,...,51.843054,2.355497,49.449550,50.550450,34700612.0,74.980,6.0,25.020,2213.181441,11.00000

In [118]:
# Merge the second merged DataFrame with the region DataFrame
final_merged_df = pd.merge(
    sec_merged_df,  
    df_region,  # The region DataFrame
    on=['Country Code', 'Country Name'],  # Keys to merge on
    how='inner'  # Use 'inner' to include only matching rows
)

In [119]:
final_merged_df.head()

,Country Name,Country Code,Year,Access to electricity (% of population),Access to electricity rural (% of rural population),Access to electricity urban (% of urban population),Fixed broadband subscriptions (per 100 people),Life expectancy at birth total (years),Literacy rate adult female (% of females ages 15 and above),Literacy rate adult male (% of males ages 15 and above),...,Population female (% of total population),Population male (% of total population),Population total,Rural population (% of total population),Secondary education duration (years),Urban population (% of total population),"GDP per capita, PPP (current international $)",Individuals using the Internet (% of population),Region,IncomeGroup
0,Afghanistan,AFG,2012,69.1,60.8,95.0,0.004908,61.923,NaN,NaN,...,49.499771,50.500229,30560034.0,75.840,6.0,24.160,1988.429304,5.45455,South Asia,Low income
1,Afghanistan,AFG,2013,68.0,60.2,92.2,0.004743,62.417,NaN,NaN,...,49.482650,50.517350,31622704.0,75.627,6.0,24.373,2133.241271,5.90000,South Asia,Low income
2,Afghanistan,AFG,2014,89.5,86.5,98.7,0.004574,62.545,NaN,NaN,...,49.468115,50.531885,32792523.0,75.413,6.0,24.587,2224.490748,7.00000,South Asia,Low income
3,Afghanistan,AFG,2015,71.5,64.6,92.5,0.020889,62.659,17.086241,50.212101,...,49.457202,50.542798,33831764.0,75.197,6.0,24.803,2284.075848,8.26000,South Asia,Low income
4,Afghanistan,AFG,2016,97.7,97.1,99.5,0.025363,63.136,NaN,NaN,...,49.449550,50.550450,34700612.0,74.980,6.0,25.020,2213.181441,11.00000,South Asia,Low income

In [120]:
final_merged_df.columns

Index(['Country Name', 'Country Code', 'Year',
       'Access to electricity (% of population)',
       'Access to electricity rural (% of rural population)',
       'Access to electricity urban (% of urban population)',
       'Fixed broadband subscriptions (per 100 people)',
       'Life expectancy at birth total (years)',
       'Literacy rate adult female (% of females ages 15 and above)',
       'Literacy rate adult male (% of males ages 15 and above)',
       'Literacy rate adult total (% of people ages 15 and above)',
       'Population ages 0-14 (% of total population)',
       'Population ages 15-64 (% of total population)',
       'Population ages 65 and above (% of total population)',
       'Population female (% of total population)',
       'Population male (% of total population)', 'Population total',
       'Rural population (% of total population)',
       'Secondary education duration (years)',
       'Urban population (% of total population)',
       'GDP per capita, PPP (current international $)',
       'Individuals using the Internet (% of population)', 'Region',
       'IncomeGroup'],
      dtype='object')

In [180]:
# Define the desired column order
desired_order = [
    'Country Name', 'Country Code', 'Region', 'IncomeGroup', 'Year',
    'Individuals using the Internet (% of population)', 
    'GDP per capita, PPP (current international $)',
    'Access to electricity (% of population)',
    'Access to electricity rural (% of rural population)',
    'Access to electricity urban (% of urban population)',
    'Fixed broadband subscriptions (per 100 people)',
    'Life expectancy at birth total (years)',
     'Secondary education duration (years)',
    'Literacy rate adult female (% of females ages 15 and above)',
    'Literacy rate adult male (% of males ages 15 and above)',
    'Literacy rate adult total (% of people ages 15 and above)',
    'Population ages 0-14 (% of total population)',
    'Population ages 15-64 (% of total population)',
    'Population ages 65 and above (% of total population)',
    'Population female (% of total population)',
    'Population male (% of total population)', 'Population total',
    'Rural population (% of total population)',   
    'Urban population (% of total population)'
]

# Reorder the columns in the DataFrame
final_merged_df = final_merged_df[desired_order]

# Display the reordered DataFrame
print(final_merged_df.head())

  Country Name Country Code      Region IncomeGroup  Year  \
0  Afghanistan          AFG  South Asia  Low income  2012
1  Afghanistan          AFG  South Asia  Low income  2013
2  Afghanistan          AFG  South Asia  Low income  2014
3  Afghanistan          AFG  South Asia  Low income  2015
4  Afghanistan          AFG  South Asia  Low income  2016

   Individuals using the Internet (% of population)  \
0                                           5.45455
1                                           5.90000
2                                           7.00000
3                                           8.26000
4                                          11.00000

   GDP per capita, PPP (current international $)  \
0                                    1988.429304
1                                    2133.241271
2                                    2224.490748
3                                    2284.075848
4                                    2213.181441

   Access to electricity (% of population)  \
0                                     69.1
1                                     68.0
2                                     89.5
3                                     71.5
4                                     97.7

   Access to electricity rural (% of rural population)  \
0                                               60.8
1                                               60.2
2                                               86.5
3                                               64.6
4                                               97.1

   Access to electricity urban (% of urban population)  \
0                                               95.0
1                                               92.2
2                                               98.7
3                                               92.5
4                                               99.5

   Fixed broadband subscriptions (per 100 people)  \
0                                        0.004908
1                                        0.004743
2                                        0.004574
3                                        0.020889
4                                        0.025363

   Life expectancy at birth total (years)  \
0                                  61.923
1                                  62.417
2                                  62.545
3                                  62.659
4                                  63.136

   Secondary education duration (years)  \
0                                   6.0
1                                   6.0
2                                   6.0
3                                   6.0
4                                   6.0

   Literacy rate adult female (% of females ages 15 and above)  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                          17.086241
4                                                NaN

   Literacy rate adult male (% of males ages 15 and above)  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                          50.212101
4                                                NaN

   Literacy rate adult total (% of people ages 15 and above)  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                          33.753841
4                                                NaN

   Population ages 0-14 (% of total population)  \
0                                     47.605305
1                                     47.161386
2                                     46.713066
3                                     46.259337
4                                     45.801449

   Population ages 15-64 (% of total population)  \
0                                      50.056783
1                                      50.488845
2                                      50.930398
3                                      51.383968
4                                      51.843054

   Population ages 65 and above (% of total population)  \
0                                           2.337911
1                                           2.349769
2                                           2.356536
3                                           2.356695
4                                           2.355497

   Population female (% of total population)  \
0                                  49.499771
1                                  49.482650
2                                  49.468115
3                                  49.457202
4                                  49.449550

   Population male (% of total population)  Population total  \
0                                50.500229        30560034.0
1                                50.517350        31622704.0
2                                50.531885        32792523.0
3                                50.542798        33831764.0
4                                50.550450        34700612.0

   Rural population (% of total population)  \
0                                    75.840
1                                    75.627
2                                    75.413
3                                    75.197
4                                    74.980

   Urban population (% of total population)
0                                    24.160
1                                    24.373
2                                    24.587
3                                    24.803
4                                    25.020

In [182]:
# descriptive statistics
# Set options to display all columns
pd.set_option('display.max_columns', None)

# Descriptive Statistics
final_merged_df.describe()

,Year,Individuals using the Internet (% of population),"GDP per capita, PPP (current international $)",Access to electricity (% of population),Access to electricity rural (% of rural population),Access to electricity urban (% of urban population),Fixed broadband subscriptions (per 100 people),Life expectancy at birth total (years),Secondary education duration (years),Literacy rate adult female (% of females ages 15 and above),Literacy rate adult male (% of males ages 15 and above),Literacy rate adult total (% of people ages 15 and above),Population ages 0-14 (% of total population),Population ages 15-64 (% of total population),Population ages 65 and above (% of total population),Population female (% of total population),Population male (% of total population),Population total,Rural population (% of total population),Urban population (% of total population)
count,2519.000000,2428.000000,2439.000000,2519.000000,2435.000000,2500.000000,2451.000000,2487.000000,2453.000000,834.000000,821.000000,820.000000,2519.000000,2519.000000,2519.000000,2519.000000,2519.000000,2.519000e+03,2519.000000,2519.000000
mean,2017.000000,53.091970,21439.354305,83.761750,78.668719,92.569452,13.757470,71.655103,6.390746,77.358044,85.494858,81.376306,27.617926,63.496783,8.885291,49.918368,50.081632,3.337321e+08,42.218901,57.781099
std,3.162906,28.780994,22323.650661,25.606383,32.058352,14.603112,13.981663,7.641829,0.851474,19.997120,13.308608,16.565173,10.359554,6.332508,6.336008,2.858227,2.858227,1.017277e+09,22.439179,22.439179
min,2012.000000,0.800000,638.873182,3.300000,0.500000,9.600000,0.000000,47.835000,4.000000,13.933410,31.000000,22.000000,11.858936,48.127986,1.030010,24.619523,45.744788,9.992000e+03,0.000000,11.194000
25%,2014.000000,27.062104,5042.777661,76.715499,69.500000,93.344590,1.124580,65.878000,6.000000,61.551604,75.979263,68.412039,18.286262,59.090478,3.609083,49.579080,48.970401,2.595666e+06,23.004000,39.687000
50%,2017.000000,56.657950,13882.028046,98.959789,98.300000,99.800000,9.337630,72.713000,6.000000,83.087990,88.611076,85.730797,26.309052,64.829852,6.416853,50.296208,49.703792,1.079978e+07,42.710000,57.290000
75%,2020.000000,77.853425,30754.717377,100.000000,100.000000,100.000000,25.288615,77.436573,7.000000,94.000000,97.000000,95.324423,36.635165,67.358766,13.947779,51.029599,50.420920,6.194051e+07,60.313000,76.996000
max,2022.000000,100.000000,180939.425775,100.000000,100.000000,100.000000,75.749700,84.560000,9.000000,100.000000,100.000000,100.000000,49.450263,85.211505,37.319283,54.255212,75.380477,7.989982e+09,88.806000,100.000000

In [188]:
final_merged_df.shape

(2519, 24)

In [190]:
# export final dataset
final_merged_df.to_csv(os.path.join(path, '02 Data','Prepared Data', 'final_dataset.csv'))